@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/zengzhining/Desktop/Work/Learn/webside/game//fonts/Anton/regular.ttf') format('truetype');
}
